:root{
    --verde: #00913f ;
    --gris: #808080;
    --azul-gris: #90ADC6;
    --pere:#E9EAEC;
    --amarillo: rgb(255 255 0 / 0.5); ;
    --azul-oscuro: #333652;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(to top, grey 0%,darkgreen 100%);
}
/*navegacion principal*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto 0 auto;
}
.boton{
    background-color: var(--verde);
    color: white;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}
@media (min-width: 768px ){
    .navegacion-principal{
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    .boton{
        width: auto;
    }
    .productos{
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 1rem;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 480px){
    .navegacion-principal {
        flex-direction: column;
    }
    .navegacion-principal a{
        justify-content: center;
    }
}
.sombra{
    box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.75);
    background-color: grey;
    padding: 2rem;
    border-radius: 2rem;
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3, h4{
    text-align: center;
}
.titulo {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
    }
.titulo span{
    color: royalblue;
}
.navegacion-principal{
    background-color: grey;
    display: flex;
    justify-content: space-between;
}
.navegacion-principal a {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.navegacion-principal a:hover{
    background-color: yellow;
    color: black;
}
/*imagen*/
.fondito {
    background-image: url("../../img/banana.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
    position: relative;
    margin: 2rem;
}
.contenido-fondito{
    position: absolute;
    background-color: rgb(0 0 0 / .6);
    width: 100%;
    height: 100%;
    /** alinear horizontal y vertical **/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-fondito h2, .contenido-fondito{
    color: white;
}
.nav-bag{
    background-color: green;
    display: flex;

}
.ubicacion{
    display: flex;
    align-items: flex-end;
}

.productos p{
    line-height: 2;
    font-weight: normal;
    color: white;
}
.productos h3{
    color: white;
}
.productos .iconos{
    margin: auto;
    height: 15rem;
    width: 15rem;
    background-color: #00913f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario{
    background-color: #00913f;
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 2rem;
    color: yellow;
}